<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
.allWrap {
padding-bottom: 120px;
background-color: #232321;
width: 100%;
margin: auto;
display: block;
text-align: center;
font-family: "Oswald", sans-serif;
}
@media (min-width: 768px) {
.allWrap {
width: 100%;
margin: 0 auto;
}
}

.tabBox {
margin: auto;
}
.tab-link {
width: 25%;
display: inline-block;
padding: 15px;
text-align: center;
border: 1px solid darkgray;
color: #fff;
cursor: pointer;
font-size: 1.5rem;
position: relative;
}
.tab-link.current {
color: #ffb000;
font-weight: 600;
}
.tab-content {
display: none;
}
.tab-content.current {
margin: 0 auto;
display: block;
width: 70%;
height: auto;
font-size: 30px;
text-align: center;
line-height: 200px;
color: #ffb000;
}
.tab-content.current img{
width: 72%;
}

.tab-content.mapAPI {
height: auto;
}
</style>

<body>
<div class="allWrap">
    <div class="tabBox">
        <p class="tab-link current" data-tab="tab-1">공연 정보</p>
        <p class="tab-link" data-tab="tab-2">오시는 길</p>
    </div>
    <div id="tab-1" class="tab-content current">
        <br />
    </div>
</div>
<div id="tab-2" class="tab-content mapAPI">
    contents Area

</div>
  <div class="allWrap">
                      <div class="tabBox">
                                         <p class="tab-link current" data-tab="tab-1">공연 정보</p>
                                                                                             <p class="tab-link" data-tab="tab-2">오시는 길</p>
                                                                                                                                         </div>
                                                                                                                                           <div id="tab-1" class="tab-content current">
                                                                                                                                                                                      <br />
                                                                                                                                                                                           <br />
                                                                                                                                                                                                <img src="/images/비클래스%20상세페이지.jpg" alt="" />
                                                                                                                                                                                                                                            </div>

                                                                                                                                                                                                                                              <div id="tab-2" class="tab-content mapAPI">
                                                                                                                                                                                                                                                                                        contents Area
        <div
                                                                                                                                                                                                                                                                                        id="map"
style="
width: 70%;
height: 650px;
left: 50%;
transform: translate(-50%);
border-radius: 10px;
"
></div>
   </div>
     </div>

               <script
               type="text/javascript"
src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4b99ebb84f885d771b9a0771daf35f8a"
></script>
   <script>
// 37.5865326, 127.000069
var mapContainer = document.getElementById("map"), // 지도를 표시할 div
                                                      mapOption = {
  center: new kakao.maps.LatLng(37.5864425, 126.999548), // 지도의 중심좌표
  level: 3, // 지도의 확대 레벨
};

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커를 표시할 위치입니다
   var position = new kakao.maps.LatLng(37.5865326, 127.000069);

// 마커를 생성합니다
   var marker = new kakao.maps.Marker({
  position: position,
});

// 마커를 지도에 표시합니다.
   marker.setMap(map);

// 마커에 커서가 오버됐을 때 마커 위에 표시할 인포윈도우를 생성합니다
   var iwContent = '<div style="padding:5px;">까꿍</div>'; // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다

// 인포윈도우를 생성합니다
   var infowindow = new kakao.maps.InfoWindow({
  content: iwContent,
});

// 마커에 마우스오버 이벤트를 등록합니다
   kakao.maps.event.addListener(marker, "mouseover", function () {
// 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
infowindow.open(map, marker);
});

// 마커에 마우스아웃 이벤트를 등록합니다
   kakao.maps.event.addListener(marker, "mouseout", function () {
// 마커에 마우스아웃 이벤트가 발생하면 인포윈도우를 제거합니다
infowindow.close();
});
</script>

  <script>
    /** 탭 메뉴 코드*/
  $(".tab-link").click(function () {
  var tab_id = $(this).attr("data-tab");

  $(".tab-link").removeClass("current");
  $(".tab-content").removeClass("current");

  $(this).addClass("current");
  $("#" + tab_id).addClass("current");
});
</script>
</body>
</html>