<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <title>Document</title>
</head>
<body>
    <header style="padding-bottom: 0px;">
        <a th:href="@{/admin/loginPage}">
            <div id="header-text" class="text-warning" style="margin-top: 130px;">
                <p id="dynamic"></p>
            </div>
        </a>
    </header>
    <section>
        <div id="login-box">
            <form action="/submit/password" method="post">
                <div id="login-content">
                    <div id="login-input">
                        <input type="text" id="id" name="adminId" placeholder="id">
                        <input type="email" id="email" name="adminEmail" placeholder="email">
                        <input type="button" id="email-submit" value="전송">
                        <input type="text" id="authNum" name="authNum" placeholder="인증번호" style="margin-top: 10px;" readonly>
                        <input type="button" id="auth-submit" value="확인">
                        <input type="password" id="password-one" placeholder="비밀번호를 입력하세요." readonly>
                        <input type="password" id="password-two" name="adminPwd" placeholder="비밀번호를 다시 입력하세요." readonly>
                    </div>
                    <div id="login-submit">
                        <button type="submit" id="fix-pwd"><span class="text-white">비밀번호수정</span></button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <script src="/js/login.js"></script>
    <script>
        $("#email-submit").click('on', function (){

            let id = document.getElementById("id").value;
            let email = document.getElementById("email").value;

            console.log(id);
            console.log(email);

            let sendData = { 'id' : id, 'email' : email};
            console.log(sendData);
            console.log(JSON.stringify(sendData));

            $.ajax({

                url:'/submit/email',
                type: 'post',
                data: JSON.stringify(sendData),
                contentType : 'application/json',
                dataType : 'json',
                async : false,
                success: function (data){

                    JSON.stringify(data);
                    let result = data.result;

                    if(result > 0){

                        alert("인증번호를 발송하였습니다!")
                        $("#authNum").removeAttr("readonly");
                    } else {

                        alert("아이디 또는 이메일이 잘못되었습니다.")
                    }
                },
                error: function (data){

                }
            })
        })

        $("#auth-submit").click('on', function (){

            let id = document.getElementById("id").value;
            let email = document.getElementById("email").value;
            let authNum = document.getElementById("authNum").value;

            console.log(id);
            console.log(email);
            console.log(authNum);

            let sendData = { 'id' : id, 'email' : email, 'authNum' : authNum };

            console.log(sendData);
            console.log(JSON.stringify(sendData));

            $.ajax({

                url:'/submit/authNum',
                type: 'post',
                data: JSON.stringify(sendData),
                contentType : 'application/json',
                dataType : 'json',
                async : false,
                success: function (data){

                    JSON.stringify(data);
                    let result = data.result;

                    if(result == 1){

                        alert("인증번호가 확인 되었습니다.")
                        $("#id").attr('readonly', true);
                        $("#email").attr('readonly', true);
                        $("#email-submit").attr('readonly', true);
                        $("#auth-submit").attr('readonly', true);
                        $("#authNum").attr('readonly', true);
                        $("#password-one").removeAttr('readonly');
                        $("#password-two").removeAttr('readonly');
                    } else if(result == 2){

                        alert("인증번호가 틀렸습니다.")
                    } else {

                        alert("아이디 또는 이메일이 잘못되었습니다.")
                    }
                },
                error: function (data){

                }
            })
        })

        $("#fix-pwd").click('on', function (){

           let pwOne = $("#password-one").val();
           let pwTwo = $("#password-two").val();

           if(pwOne != pwTwo){

               alert("비밀번호가 틀렸습니다. 다시 확인해주세요.");
               return false;
           } else if(pwOne == pwTwo){

               alert("비밀번호 수정이 완료되었습니다. 다시 로그인해주세요.")
           }
        })
    </script>
</body>
</html>
