<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldenage.project.company.model.dao.CompanyMapper">

    <resultMap id="companyResultMap" type="CompanyDTO">
        <id property="companyName" column="COMPANY_NAME"/>
        <result property="comRepNum" column="COM_REP_NUM"/>
        <result property="phone" column="PHONE"/>
        <result property="address" column="ADDRESS"/>
        <result property="email" column="EMAIL"/>
        <result property="comRepName" column="COM_REP_NAME"/>
        <result property="instagram" column="INSTAGRAM"/>
        <result property="twitter" column="TWITTER"/>
    </resultMap>

    <select id="selectComInfo" resultMap="companyResultMap">
        SELECT
               *
          FROM COMPANY
    </select>

    <select id="selectComInfos" resultMap="companyResultMap">
        SELECT
               *
          FROM COMPANY
    </select>
</mapper>