<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldenage.project.product.model.dao.ProductMapper">
    <resultMap id="productResultMap" type="com.goldenage.project.product.model.dto.ProductDTO">
        <id property="pd_num" column="PD_NUM"/>
        <result property="pd_name" column="PD_NAME"/>
        <result property="pd_start_date" column="PD_START_DATE"/>
        <result property="pd_end_date" column="PD_END_DATE"/>
        <result property="pd_place_name" column="PD_PLACE_NAME"/>
        <result property="pd_rated" column="PD_RATED"/>
        <result property="pd_time" column="PD_TIME"/>
        <result property="pd_place_add" column="PD_PLACE_ADD"/>
        <result property="pd_Ori_Main" column="PD_ORI_MAIN"/>
        <result property="pd_File_Main" column="PD_FILE_MAIN"/>
        <result property="company_name" column="COMPANY_NAME"/>
    </resultMap>

    <resultMap id="productDetailResultMap" type="com.goldenage.project.product.model.dto.ProductDetailDTO">
        <id property="detail_file_num" column="DETAIL_FILE_NUM"/>
        <result property="pd_num" column="PD_NUM"/>
        <result property="detail_ori_name" column="DETAIL_ORI_NAME"/>
        <result property="detail_file_name" column="DETAIL_FILE_NAME"/>
    </resultMap>

    <select id="selectAllProduct" resultMap="productResultMap">
        SELECT
               *
          FROM PRODUCT
    </select>

    <!--  selectOneProduct  -->
    <select id="selectOneProduct" resultMap="productResultMap">
      SELECT
             *
        FROM PRODUCT
       WHERE PD_NUM = #{ pd_num }
    </select>

    <select id="selectAllProductDetail" resultMap="productDetailResultMap">
        SELECT
              *
         FROM PRODUCT_DETAIL
        WHERE PD_NUM = #{ pd_num }
    </select>

    <select id="selectProductPoster" resultMap="productDetailResultMap">
        SELECT
               *
          FROM PRODUCT_DETAIL
         WHERE DETAIL_FILE_NUM = #{ detail_file_num }
    </select>

    <update id="updateProductPosterNoFile">
        UPDATE PRODUCT_DETAIL
           SET DETAIL_FILE_NUM = #{ detail_file_num }
             , DETAIL_FILE_NAME = #{ detail_file_name }
         WHERE DETAIL_FILE_NUM = #{ detail_file_num }
    </update>

    <update id="updateProductPoster">
        UPDATE PRODUCT_DETAIL
           SET DETAIL_FILE_NUM = #{ detail_file_num }
             , DETAIL_ORI_NAME = #{ detail_ori_name }
             , DETAIL_FILE_NAME = #{ detail_file_name }
         WHERE DETAIL_FILE_NUM = #{ detail_file_num }
    </update>

    <insert id="insertPdInfo">
      INSERT
        INTO PRODUCT
        (
          PD_NAME
        , PD_START_DATE
        , PD_END_DATE
        , PD_PLACE_NAME
        , PD_RATED
        , PD_TIME
        , PD_PLACE_ADD
        , PD_ORI_MAIN
        , PD_FILE_MAIN
        , COMPANY_NAME
        )
        VALUES
        (
          #{ pd_name }
        , #{ pd_start_date }
        , #{ pd_end_date }
        , #{ pd_place_name }
        , #{ pd_rated }
        , #{ pd_time }
        , #{ pd_place_add }
        , #{ pd_Ori_Main }
        , #{ pd_File_Main }
        , #{ company_name }
        )
    </insert>

<!--    <id property="detail_file_num" column="DETAIL_FILE_NUM"/>-->
<!--    <result property="pd_num" column="PD_NUM"/>-->
<!--    <result property="detail_ori_name" column="DETAIL_ORI_NAME"/>-->
<!--    <result property="detail_file_name" column="DETAIL_FILE_NAME"/>-->

    <insert id="insertPdPoster">
      INSERT
        INTO PRODUCT_DETAIL
        (
           PD_NUM
         , DETAIL_ORI_NAME
         , DETAIL_FILE_NAME
        )
        VALUES
        (
          #{ pd_num }
        , #{ detail_ori_name }
        , #{ detail_file_name }
        )
    </insert>
    
    <update id="updateProductInfo">
        UPDATE PRODUCT
           SET PD_NAME = #{ pd_name }
             , PD_START_DATE = DATE_FORMAT(#{ pd_start_date }, '%Y%m%d')
             , PD_END_DATE = DATE_FORMAT(#{ pd_end_date }, '%Y%m%d')
             , PD_PLACE_NAME = #{ pd_place_name }
             , PD_RATED = #{ pd_rated }
             , PD_TIME = #{ pd_time }
             , PD_PLACE_ADD = #{ pd_place_add }
             , PD_ORI_MAIN = #{ pd_Ori_Main }
             , PD_FILE_MAIN = #{ pd_File_Main }
             , COMPANY_NAME = #{ company_name }
         WHERE PD_NUM = #{ pd_num }
    </update>

    <update id="updateProductInfoNoFile">
     UPDATE PRODUCT
        SET PD_NAME = #{ pd_name }
          , PD_START_DATE = DATE_FORMAT(#{ pd_start_date }, '%Y%m%d')
          , PD_END_DATE = DATE_FORMAT(#{ pd_end_date }, '%Y%m%d')
          , PD_PLACE_NAME = #{ pd_place_name }
          , PD_RATED = #{ pd_rated }
          , PD_TIME = #{ pd_time }
          , PD_PLACE_ADD = #{ pd_place_add }
          , COMPANY_NAME = #{ company_name }
      WHERE PD_NUM = #{ pd_num }
    </update>

    <delete id="deleteProductInfo">
        DELETE
          FROM PRODUCT
         WHERE PD_NUM = #{ pd_num }
    </delete>

    <delete id="deleteProductPoster">
        DELETE
          FROM PRODUCT_DETAIL
         WHERE DETAIL_FILE_NUM = #{ detail_file_num }
    </delete>

</mapper>