<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .container{
            background-color: black;
            background-image: none;
        }
    </style>
</head>
<body class="scroll" style="background-color: black; background-image: none;">
<div class="container">
    <div class="header">
        <div class="logo"><a href="./index.html"><img src="images/logo.gif" alt="" width="220px"></a></div>
        <div class="nav">
            <ul>
                <li><a href="./company.html">COMPANY</a></li>
                <li><a href="./product.html">PRODUCT</a></li>
                <li><a href="./marketing.html">MARKETING</a></li>
                <li><a href="./theater.html">THEATER</a></li>
                <li><a href="./notice.html">NOTICE</a></li>
            </ul>
        </div>
    </div>
    <div class="contect">
        <div style="display: inline;background: #ccc;font-family: 'Oswald', sans-serif !important;height: 240px;background: #232321;padding-top: 170px;">
            <h3 style="color: #fff;border-bottom: 5px #ffb000 solid;padding-bottom: 8px;font-size: 3rem;margin: auto; text-align: center;">연습실 정보 수정</h3>
        </div>
        <br>
        <table class="table" style="background-color: #282828; color: beige; text-align: center;">
            <thead>
            <tr>
                <th>번호</th>
                <th>장소명</th>
                <th>주소</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>ㅇㅇ 연습실</td>
                <td>주소</td>
                <td><button type="button" class="btn" type="button" style="color:gold;">수정하기</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>ㅁㅁ 가맹점</td>
                <td>2022년 8월 18일</td>
                <td><button type="submit" class="btn" type="button" style="color:gold;">수정하기</button></td>
            </tr>
            <tr>
                <td>3</td>
                <td>ㅍㅍ 가맹점</td>
                <td>2022년 8월 18일</td>
                <td><button type="submit" class="btn" type="button" style="color:gold;">수정하기</button></td>
            </tr>
            </tbody>
        </table>
        <div>
            <button type="button" class="btn" type="button" style="color:gold;">연습실 추가하기</button>
        </div>
    </div><!-- contect close -->
</div><!-- container close -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>