<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <link rel="stylesheet" href="/css/space.css">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-color: #282828;
      font-family: 'Noto Sans KR', sans-serif;
    }
  </style>
</head>
<body class="scroll">
<!-- S: header -->
<div th:replace="common/header"></div>
<!-- E: header -->
<div class="content">
  <div class="d-flex justify-content-center" style="display: inline;background: #ccc;font-family: 'Oswald', sans-serif !important;height: 240px;background: #232321;padding-top: 170px;">
    <h1 style="color: #fff;border-bottom: 10px #ffb000 solid;padding-bottom: 8px;font-size: 5rem;font-weight: bold;margin: auto;">SPACE</h1>
  </div>
  <br>
  <br>
  <div class="row mt-7 mx-auto" style="padding-left: 20%; padding-right: 20%; padding-top: 9rem;">
    <div class="space-info col-lg-6 col-md-6" style="height: 100%">
      <img src="/images/goldenTheater.png" width="100%" height="100%">
    </div>
    <div class="space-info col-lg-6 col-md-6" style="height: 100%">
      <img src="/images/goldenTheater2.jpeg" width="100%" height="100%">
    </div>
  </div>
  <div class="row mt-7 mx-auto" style="padding-left: 20%; padding-right: 20%; padding-top: 2rem;">
    <h4 style="color: white">연습실</h4>
  </div>
  <div class="row mt-7 mx-auto" style="padding-left: 20%; padding-right: 20%; padding-top: 1rem;">
    <table style="background-color: white">
      <tr>
        <th>주소</th>
        <td>서울시 종로구 종로3가 종로3동 종로3번지</td>
      </tr>
      <tr>
        <th>주차여부</th>
        <td>주차가능</td>
      </tr>
      <tr>
        <th>예약링크</th>
        <td>www.naver.com</td>
      </tr>
      <tr>
        <th>이용시간</th>
        <td>오전 9시부터 오후 9시까지</td>
      </tr>
      <tr>
        <th>이용인원</th>
        <td>10명</td>
      </tr>
      <tr>
        <th>예약제한</th>
        <td>예약제한이 없습니다.</td>
      </tr>
      <tr>
        <th>사용환경</th>
        <td>연습거울, 에어컨, 회의탁자 및 의자</td>
      </tr>
      <tr>
        <th>공간안내</th>
        <td>여러명이 사용하는 공간입니다. 주의해주세요.</td>
      </tr>
    </table>
  </div>
</div>
<!-- S: footer -->
<div th:include="common/footer.html"></div>
<!-- E: footer -->

</body>
</html>