/*@font-face {
  font-family: abster;
  src: url(font/abster-webfont.woff) format("woff");
}
*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  width: 100%;
  height: 100%;
  background-color: #282828;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
  url(../images/mainbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container .hero {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.container .hero h2 {
  font-size: 60px;
  margin-bottom: 20px;
}

.container .hero p {
  font-size: 22px;
}

.content {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 출력문 배열 커서 깜빡임 설정 */
#dynamic {
  position: relative;
  display: inline-block;
}

#dynamic::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 4px;
  height: 100%;
  background-color: white;
}

#dynamic.active::after {
  display: none;
}

.scroll {
  overflow: overlay;
}
.scroll::-webkit-scrollbar {
  width: 0.7vw;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 42%, 0.2);
}

#shows .content {
  padding-top: 50px;
}

footer{
  background-color: #232321;
  padding: 3rem;
  color: #fff;
  margin-top: 180px;
  display: flex;
  align-items: flex-start;
}

footer #row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

footer #footer_txt{
  display: inline-block;
  flex: 1;
}

footer #footer_sns{
  align-self: center;
  float: right;
}

footer #footer_sns a{
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  cursor: pointer;
  color: #232321;
}

@media (max-width: 768px) {
  footer{
    background-color: #232321;
    padding: 3rem;
    color: #fff;
    margin-top: 180px;
    display: block;
    align-items: flex-start;
  }

  footer #row{
    display: flex;
    flex-wrap: wrap;
  }

  footer #footer_txt{
    width: 100%;
    display: inline-block;
    flex: 1;
  }

  footer #footer_sns{
    width: 100%;
    align-self: center;
    float: right;
    display: flex;
    justify-content: flex-end;
  }

}

