/*@font-face {
  font-family: abster;
  src: url(font/abster-webfont.woff) format("woff");
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #282828;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
  url(../images/KakaoTalk_20221011_230043010.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container .header {
  width: 100%;
  height: 80px;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header h1 a {
  text-decoration: none;
  color: white;
  font-family: abster;
  transition: 0.5s;
  display: inline-block;
  padding: 5px 0;
  position: relative;
}
/*가운데서 좌우로 펼쳐지는 라인 에니메이션*/

.container .header h1 a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffb000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.container .header h1 a:hover:after {
  width: 100%;
  left: 0;
}

.container .nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.container .nav ul li a {
  text-decoration: none;
  color: white;
}

/*왼쪽에서 오른쪽으로 이동하는 에니메이션*/
.container .nav ul li a {
  position: relative;
}
.container .nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0px;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.3s ease-in-out;
  transition-duration: 0.3s;
  opacity: 0;
  background-color: #ffb000;
}
.container .nav ul li a:hover:after {
  width: 100%;
  opacity: 1;
}

.container .hero {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .hero h2 {
  font-size: 60px;
  margin-bottom: 20px;
}

.container .hero p {
  font-size: 22px;
}

.content {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 출력문 배열 커서 깜빡임 설정 */
#dynamic {
  position: relative;
  display: inline-block;
}

#dynamic::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 4px;
  height: 100%;
  background-color: white;
}

#dynamic.active::after {
  display: none;
}

.scroll {
  overflow: overlay;
}
.scroll::-webkit-scrollbar {
  width: 0.7vw;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 42%, 0.2);
}

#shows .content {
  padding-top: 50px;
}

footer{
  background-color: #232321;
  padding: 3rem;
  color: #fff;
  margin-top: 180px;
  display: flex;
  align-items: flex-start;
}

footer #row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

footer #footer_txt{
  display: inline-block;
  flex: 1;
}

footer #footer_sns{
  align-self: center;
  float: right;
}

footer #footer_sns a{
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  cursor: pointer;
  color: #232321;
}

@media (max-width: 768px) {
  footer{
    background-color: #333;
    padding: 3rem;
    color: #fff;
    margin-top: 180px;
    display: block;
    align-items: flex-start;
  }

  footer #row{
    display: flex;
    flex-wrap: wrap;
  }

  footer #footer_txt{
    width: 100%;
    display: inline-block;
    flex: 1;
  }

  footer #footer_sns{
    width: 100%;
    align-self: center;
    float: right;
    display: flex;
    justify-content: flex-end;
  }

}
