<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .container{background-image: none;background-color: black;}
        .main{height: 850px;text-align: center;}
        .main img{width: 300px; height: 300px;}
        .main p {color: #fff;}
        .main strong{color: #fff;}
        .contect{text-align: center;}
        .card{background-color: black; border: 1px gold solid;}
    </style>
  </head>
  <body class="scroll" style="background-color: black;">
    <div class="container">
      <div class="header">
        <div class="logo"><a href="./index.html"><img src="images/logo.gif" alt="" width="220px"></a></div>
        <div class="nav">
          <ul>
            <li><a href="./company.html">COMPANY</a></li>
            <li><a href="./product.html">PRODUCT</a></li>
            <li><a href="./marketing.html">MARKETING</a></li>
            <li><a href="./theater.html">THEATER</a></li>
            <li><a href="./notice.html">NOTICE</a></li>
          </ul>
        </div>
      </div>
      <div class="main">
        <img src="./images/gol2.jpg">
        <br>
        <p>자신만의 고유한 색을 지닌 여러 사람의 협업이 조화를 이룰 때,</p>
        <p>비로소 작품은 예술이 된다</p>
        <br>
        <p>골든에이지컴퍼니는 다양성과 개성이 존중받고,</p>
        <p>관객들의 삶에 맞닿아 교감할 수 있는 작품을 지향하며</p>
        <br>
        <p>2021 <바톤콘서트>, 연극 <줄리엣과 줄리엣>, 2022 연극 <비클래스>를 시작으로</p>
        <p>그간 쌓인 히스토리 보다는 앞으로 쌓아갈 히스토리가 더 많은 시점에서,</p>
        <br>
        <p>우리가 만들어갈 작품들이 재미와 진정성을 토대로</p>
        <p>관객들로 하여금 "자신"을 찾아가는 여정에 공감과 위로를 건넬 수 있는 조력자가 되길 바랍니다.</p>
        <br>
        <strong>" 당신의 찬란하게 빛나는 순간을 함께 할 , GOLDENAGE COMPANY. "</strong>
      </div>
      <div class="contect">
        <div class="card" style="width: 27rem; margin: auto;">
          <div class="card-body">
            <h5 class="card-title" style="color: #fff;">골든에이지랑 컨택하는법</h5>
            <h6 class="card-subtitle mb-2 text-muted" style="color: #fff;">골든에이지 컨퍼니는 어디에 있나요</h6>
            <p class="card-text" style="color: #fff;">이 안에 주소랑 전화번호랑 이것저것 컨택할 수 있는 정보들을 넣어야 겠지요 아무래도... </p>
            <a href="#" class="card-link" style="color: #fff;">인스타그램</a>
            <a href="#" class="card-link" style="color: #fff;">트위터</a>
          </div>
        </div>
      </div><!-- contect close --> 
    </div><!-- container close -->
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>
