<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

    <title>Document</title>
</head>
<body>
    <header>
        <a th:href="@{/admin/main}">
            <div id="header-text" class="text-warning">
                <p id="dynamic"></p>
            </div>
        </a>
    </header>
    <section>
        <div id="login-box">
            <div id="login-content">
                <form action="/admin/main" method="post">
                    <div id="login-input">
                        <input type="text" id="id" name="id" placeholder="id">
                        <input type="text" id="password" name="pw" placeholder="password">
                    </div>∫
                    <div id="login-submit">
                        <button type="submit" id="login"><span class="text-white">로그인</span></button>
                    </div>
                </form>
                <div id="login-find">
                    <a th:href="@{/admin/password}" id="find-password">비밀번호찾기</a>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/login.js"></script>
</body>
</html>